*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
	list-style: none;
	text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1448px;
    margin: 0 auto;
    padding: 0 16px;
}
.lg-container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
}
button{
	cursor: pointer;
}
body{
	min-height: 500vh;
}